@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Maven+Pro:wght@437&family=Michroma&family=Play&family=Roboto+Condensed:wght@300&display=swap');


body {
  font-family: "Roboto Condensed" sans-serif;
}
#logo-title{
  font-family: 'Michroma', sans-serif;
}


/* NavBar */
.navbar-main{
  background-color: red;
}

.nav-container{
  background-color:yellow;
}

nav {
  z-index: 2;
}

#logo{
  vertical-align: middle;
  border-radius: 54%;
  border-style: double;
  width: 3.85rem;
}

#logo-title{
  display: contents;
  background-color: #004f9f;
}

/* Menu Links */
nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

#link-one{
  color: red;
}

#brand{
  max-width: 17.25rem;
  padding: 0 !important;
  font-family: 'Michroma', sans-serif;
  white-space: pre;
}

/* .navbar-nav > active , .navbar-nav > a:focus{
  border-top: 0.1875rem solid rgb(234, 38, 38);
} */

.navbar-nav > active , .navbar-nav > a:hover{
  border-top: 0.1875rem solid rgb(234, 38, 38);
} 

navbar-dark .navbar-toggler {
  border-color: rgb(255 0 0);
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    border-top: 0.1875rem solid rgb(234, 38, 38);
}


/* HEADER */

.header-wrapper{
  height: 90vh;
  box-shadow: 1px 1px 10px grey;
  border-radius: 0px 0px 17px 17px;
  background: url('./images/city.jpg');
  position: relative;
  background-size: cover;
  background-position: center;
}

.header-main{
  margin: 0rem 18rem 1rem 18rem;
  border-radius: .50rem;
  margin: 0rem 1rem 0rem 0rem;
  padding: 0rem 0rem 2rem 0rem;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  background-color: transparent;
  z-index: 1;
  width: 3px;
}

.header-title h2{
  padding: 13px 5px 20px;
  font-family: 'M PLUS 1p', sans-serif;
}

.header-title-text{
  font-family: 'M PLUS 1p', sans-serif;
}

/* TYPED TEXTED */
  .typed-text{
    font-size: 6rem;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(35, 28, 28);
    width: 100%;
    height: 23rem;
    display: block;
    position: static;
    text-align: left;
    white-space: pre-line;
}


@media(max-width: 768px){
  .main-info h3{
    font-size: 1.1rem !important;
  }
  .typed-text{
    font-size: 2.1rem !important;
    line-break: normal;
  }
  #logo-title{
    font-size: small;
  }
  #logo{
    width: 3rem;
  }
  #home-link{
    margin-top:1rem;
  }
  .card-deck-services{
    flex-flow: wrap;
  }
  .header-main{
  box-shadow: none;
}
.btn-main-offer{
  border: 1px solid red;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.75rem;
  color: rgb(104, 47, 189);
  margin: 2rem;
}
#contact-us-button{
  border-color: #004f9f;
}
}
/* btn{
  color: #dc3545;
  border-color: #dc3545;
  background-color: aquamarine;
}

btn:hover {
  color: #dc3545;
  border-color: #dc3545;
  background-color: rgb(92, 103, 99);
} */

.tsparticles-canvas-el{
  position  : absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

.btn-main-offer :hover{
  text-decoration: none;
  background-color: rgb(109, 218, 73);
  color: rgb(15, 3, 148);
}

@media(max-width: 768px){
  .tsparticles-canvas {
    display: none;
  }
}

.card-deck-services{
  display: flex;
  justify-content: space-between;
}

.bg-light {
  background-color: #212529!important;
  width: 50rem;
  height: 31rem;
}


/* Services  */
.services-title{
  background-color: #ffff;
  text-align: center;
  color:rgb(234, 38, 45);
  height: 100rem;
}
.services-title-text{
  font-family: 'M PLUS 1p', sans-serif;
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: #262626;
  font-size: xxx-large;
  text-shadow: 2px 2px 3px #5c5252;
}


.btn-danger {
  color: #dc3545;
  border-color: #dc3545;
  font-size: x-large;
  float: right;
}

.card-deck-services{
  background-color: transparent;
  border: thin;
  box-shadow: 1px 1px 14px black;
  border-radius: 8px;
  display: flex;
  padding:1rem;
  height: 100rem;
}
.card {
  background-color:aqua;
}
.border-dark {
border-color: #004f9f!important;
margin: 0.5rem;
box-shadow: 0rem 0rem 1rem grey;
width: max-content;
}

#contact-us-button{
  width: 21rem;
  margin: 0rem 28rem 0rem 0rem;
}