@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Philosopher&family=Roboto+Condensed&display=swap');


body {
  font-family: "Roboto Condensed" sans-serif;
}

#logo-title{
  font-family: 'Michroma', sans-serif;
}


/* NavBar */

nav {
  z-index: 2;
}

#logo{
  vertical-align: middle;
  border-radius: 54%;
  border-style: double;
  width: 3.85rem;
}

/* Menu Links */
nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

#link-one{
  color: red;
}

#brand{
  max-width: 17.25rem;
  padding: 0 !important;
  font-family: 'Michroma', sans-serif;
  white-space: pre;
}

/* .navbar-nav > active , .navbar-nav > a:focus{
  border-top: 0.1875rem solid rgb(234, 38, 38);
} */

.navbar-nav > active , .navbar-nav > a:hover{
  border-top: 0.1875rem solid rgb(234, 38, 38);
} 

navbar-dark .navbar-toggler {
  border-color: rgb(255 0 0);
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    border-top: 0.1875rem solid rgb(234, 38, 38);
}


/* HEADER */

.header-wrapper{
  position: relative;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-weight: 600;
  background-color: rgb(39, 36, 36);
  color: aliceblue;
  background: url('./images/city.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* TYPED TEXTED */
  .typed-text{
    font-size: 2rem;
    color: white;
  }
@media(max-width: 768px){
  .main-info h3{
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size:1.1rem !important;
  }
}
.btn-main-offer{
  border: 1px solid red;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.75rem;
  color: rgb(104, 47, 189);
  margin: 2rem;
}
btn {
  color: #dc3545;
  border-color: #dc3545;
  background-color: aquamarine;
}

btn:hover {
  color: #dc3545;
  border-color: #dc3545;
  background-color: rgb(92, 103, 99);
}

.tsparticles-canvas-el{
  position  : absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

.btn-main-offer :hover{
  text-decoration: none;
  background-color: rgb(109, 218, 73);
  color: rgb(15, 3, 148);
}

@media(max-width: 768px){
  .tsparticles-canvas {
    display: none;
  }
}